<%- include('../includes/head.ejs') %>
</head>

<body>

    <div id="wrapper">
        <%- include('../includes/nav.ejs') %>


        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <%- include('../includes/topnav.ejs') %>
        </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Panels</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <!-- <li>
                            <a>UI Elements</a>
                        </li> -->
                        <li class="active">
                            <strong>Exercises</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <% if(exercises.length > 0) { %>
                <% for(let ex of exercises) { %>
                
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5><%= ex.name %></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="fullscreen-link">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a class="close-link" href="/exercises">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">    
                        <div class="scroll_content">
                        <p>
                            <%= ex.description %>
                            No. of calories = <%= ex.calories %>
                            Repeat for as many repetitions as your workout routine requires. If you have to pass a fitness test (such as the Army Physical Fitness Test) you can use a few simple strategies to build your strength and endurance in order to do more pushups. One popular strategy is the "one more pushup a day" approach. This is when on day one you do one push-up, then on day two you do two push-ups, and so on.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% } else { %>
                <p>No exercises found !</p>
            <% } %>
    
            <!-- <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Pull Ups</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="fullscreen-link">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a class="close-link" href="/exercises">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        
                        <div class="scroll_content">
                        <ul>
                            <li> 
                                Get on the floor on all fours, positioning your hands slightly wider than your shoulders.
                            </li>
                            <li>
                                Extend your legs back so that you are balanced on your hands and toes. Keep your body in a straight line from head to toe without sagging in the middle or arching your back. You can position your feet to be close together or a bit wider depending on what is most comfortable for you.
                            </li>
                            <li>
                                Before you begin any movement, contract your abs and tighten your core by pulling your belly button toward your spine. Keep a tight core throughout the entire pushup.
                            </li>
                            <li>
                                Inhale as you slowly bend your elbows and lower yourself until your elbows are at a 90-degree angle.
                            </li>
                            <li>
                                Exhale as you begin contracting your chest muscles and pushing back up through your hands to the start position. Don't lock out the elbows; keep them slightly bent.
                            </li>
                        </ul>
                        <p>
                            Repeat for as many repetitions as your workout routine requires. If you have to pass a fitness test (such as the Army Physical Fitness Test) you can use a few simple strategies to build your strength and endurance in order to do more pushups. One popular strategy is the "one more pushup a day" approach. This is when on day one you do one push-up, then on day two you do two push-ups, and so on.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Bench Press</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="fullscreen-link">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a class="close-link" href="/exercises">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        
                        <div class="scroll_content">
                        <ul>
                            <li> 
                                Get on the floor on all fours, positioning your hands slightly wider than your shoulders.
                            </li>
                            <li>
                                Extend your legs back so that you are balanced on your hands and toes. Keep your body in a straight line from head to toe without sagging in the middle or arching your back. You can position your feet to be close together or a bit wider depending on what is most comfortable for you.
                            </li>
                            <li>
                                Before you begin any movement, contract your abs and tighten your core by pulling your belly button toward your spine. Keep a tight core throughout the entire pushup.
                            </li>
                            <li>
                                Inhale as you slowly bend your elbows and lower yourself until your elbows are at a 90-degree angle.
                            </li>
                            <li>
                                Exhale as you begin contracting your chest muscles and pushing back up through your hands to the start position. Don't lock out the elbows; keep them slightly bent.
                            </li>
                        </ul>
                        <p>
                            Repeat for as many repetitions as your workout routine requires. If you have to pass a fitness test (such as the Army Physical Fitness Test) you can use a few simple strategies to build your strength and endurance in order to do more pushups. One popular strategy is the "one more pushup a day" approach. This is when on day one you do one push-up, then on day two you do two push-ups, and so on.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Squats</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="fullscreen-link">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a class="close-link" href="/exercises">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        
                        <div class="scroll_content">
                        <ul>
                            <li> 
                                Get on the floor on all fours, positioning your hands slightly wider than your shoulders.
                            </li>
                            <li>
                                Extend your legs back so that you are balanced on your hands and toes. Keep your body in a straight line from head to toe without sagging in the middle or arching your back. You can position your feet to be close together or a bit wider depending on what is most comfortable for you.
                            </li>
                            <li>
                                Before you begin any movement, contract your abs and tighten your core by pulling your belly button toward your spine. Keep a tight core throughout the entire pushup.
                            </li>
                            <li>
                                Inhale as you slowly bend your elbows and lower yourself until your elbows are at a 90-degree angle.
                            </li>
                            <li>
                                Exhale as you begin contracting your chest muscles and pushing back up through your hands to the start position. Don't lock out the elbows; keep them slightly bent.
                            </li>
                        </ul>
                        <p>
                            Repeat for as many repetitions as your workout routine requires. If you have to pass a fitness test (such as the Army Physical Fitness Test) you can use a few simple strategies to build your strength and endurance in order to do more pushups. One popular strategy is the "one more pushup a day" approach. This is when on day one you do one push-up, then on day two you do two push-ups, and so on.
                        </p>
                    </div>
                    </div>
                </div>
            </div> -->
            
            <%- include('../includes/footer.ejs') %>

        </div>
        </div>


    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>

<script>

    $(document).ready(function () {

        // Add slimscroll to element
        $('.scroll_content').slimscroll({
            height: '200px'
        })

    });

</script>

</body>

</html>
